:root {
    --primary: #233D4D;
    --secondary: #FE7F2D;
    --background: #FCCA46;
    --accent: #A1C181;
    --second_accent: #619B8A;
}

body {
    background-color: var(--background);
}

.nav {
    display: flex;
}

.logo {
    margin-right: 2rem;
}

ul {
    list-style: none;
}

.nav li {
    font-size: 25px;
}

/* ceci est pour la modale */
.result {
    display: none;
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: rgba(49, 49, 49, 0.4);
}

.resultwindow {
    background-color: white;
    width: 35%;
    padding: 1rem;
    border: black solid 5px;
    border-radius: 8px;
    top: 40%;
    position: relative;
    margin: auto;
}


.resultwindowtitle, .resultwindowtext {
    color: black;
    text-align: center;
}

.correct {
    border-color: rgb(0, 150, 0);
    background-color: rgb(215, 255, 204);
}

.incorrect {
    border-color: rgb(230, 90, 0);
    background-color: rgb(251, 230, 188);
}

h2 {
    color: var(--primary);
    text-align: center;
    padding: 20px 20px;
    border: none;
    border-radius: 10px;
    background-color: var(--accent)
}

.container {
    display: flex;
    justify-content:space-around;
    height: 50vh;


}

input {
    width: 50px;
    height: 30px;
}

input[type="submit"] {

    width: 100px;
    height: 50px;
    background: var(--secondary);
    color: var(--primary);
    font-size: 20px;
    border-radius: 10px;
}

.submit {
    display: flex;
    justify-content: center;

}

label {

    font-size: 30px;

}

.parent {
    display: flex;
flex-direction:row-reverse;
justify-content:space-around
}
 